<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
========================================= -->
   <meta charset="utf-8">
	<title>Portfolio</title>



   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="css/base.css">
   <link rel="stylesheet" href="css/main.css">
   <link rel="stylesheet" href="css/vendor.css">

   <!-- script
   ================================================== -->
	<script src="js/modernizr.js"></script>
	<script src="js/pace.min.js"></script>

   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href="favicon.png">

</head>

<body id="top">

	<!-- header
   ================================================== -->
   <header>
   </header> <!-- /header -->

	<!-- intro section
   ================================================== -->
   <section id="intro">

   	<div class="intro-overlay"></div>

   	<div class="intro-content" style="size:100%;height:100%;background:url('https://www.gregdeveloppementweb.fr/wp-content/uploads/2020/02/www.gregdeveloppementweb.fr-fond-ecran-dark-scaled.jpg') no-repeat; background-size: cover">
   		<div class="row">

   			<div class="col-twelve">

	   			<h5>Hello, World.</h5>
	   			<h1>I'm Yohann Lemasson.</h1>

	   			<p class="intro-position">
	   				<span>Chargé de projets</span> <span>Développeur Junior</span>
	   			</p>

	   			<a class="button stroke smoothscroll" href="#about" title="">à propos de moi</a>

	   		</div>

   		</div>
   	</div> <!-- /intro-content -->

   	<ul class="intro-social">
         <li><a href="https://github.com/yohannledev"><i class="fa fa-github"></i></a></li>
         <li><a href="https://twitter.com/DevYohann"><i class="fa fa-twitter"></i></a></li>
         <li><a href="https://www.linkedin.com/in/yohann-lemasson-7137b8223/"><i class="fa fa-linkedin"></i></a></li>
      </ul> <!-- /intro-social -->

   </section> <!-- /intro -->


   <!-- about section
   ================================================== -->
   <section id="about">

   	<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Qui suis-je?</h5>
   			<h1>Parlons un peu de moi.</h1>

   			<div class="intro-info">

   				<img src="https://imagizer.imageshack.com/img924/572/2UU2ws.jpg" >

   				<p class="lead">Salut! Je m’appelle Yohann, je suis un développeur web passionné qui s'intéresse de près aux projets web. Ma spécialité est de construire des projets web de A à Z, en commençant par la définition du produit pour répondre au mieux aux besoins, en passant par la conception de l'outil et le développement des différentes fonctionnalités. Je peux donc vous accompagner sur toutes les étapes de votre projet digital. Voici mes domaines de compétences...</p>
   			</div>

   		</div>
   	</div> <!-- /section-intro -->

   	<div class="row about-content">

   		<div class="col-six tab-full">

   			<h3>Profil</h3>
   			<p>Lorsque je suis tombé sur le codage, j'ai rapidement découvert à quel point j'apprécie l'art de l'organisation fonctionnelle. un monde merveilleux qui n'a de limite que notre imagination.</p>

   			<ul class="info-list">
   				<li>
   					<strong>Prénom/nom:</strong>
   					<span>Yohann Lemasson</span>
   				</li>
   				<li>
   					<strong>date de naissance</strong>
   					<span>February 1, 1988</span>
   				</li>
   				<li>
   					<strong>emploi:</strong>
   					<span>Freelancer, Frontend Developer</span>
   				</li>
   				<li>
   					<strong>Website:</strong>
   					<span>www.yohannlemasson.com</span>
   				</li>
   				<li>
   					<strong>Email:</strong>
   					<span>yohannlemasson@gmail.com</span>
   				</li>

   			</ul> <!-- /info-list -->

   		</div>

   		<div class="col-six tab-full">

   			<h3>compétences</h3>
   			<p>voici un aperçu des compétences que je vous propose pour le bon développement d'un site. Je peux être à la fois back et front, mais je dois avouer que j'ai une affinité particulière  avec le front. </p>

				<ul class="skill-bars">
				   <li>
				   	<div class="progress percent90"><span>90%</span></div>
				   	<strong>HTML</strong>
				   </li>
				   <li>
				   	<div class="progress percent85"><span>85%</span></div>
				   	<strong>SCSS</strong>
				   </li>
				   <li>
				   	<div class="progress percent70"><span>70%</span></div>
				   	<strong>Javascript</strong>
				   </li>
				   <li>
				   	<div class="progress percent95"><span>95%</span></div>
				   	<strong>Bootstrap</strong>
				   </li>
				   <li>

				   	<div class="progress percent75"><span>75%</span></div>
				   	<strong>Wordpress</strong>
				   </li>

				</ul> <!-- /skill-bars -->

   		</div>

   	</div>

   	<div class="row button-section">
   		<div class="col-twelve">
   			<a href="#contact" title="Hire Me" class="button stroke smoothscroll">Contactez-moi </a>
   			<a href="https://imagizer.imageshack.com/img923/6076/AWZcC0.jpg" title="Download CV" class="button button-primary">Téléchargement CV</a>
   		</div>
   	</div>

   </section> <!-- /process-->


   <!-- resume Section
   ================================================== -->
	<section id="resume" class="grey-section">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Parcours</h5>
   			<h1>mes références.</h1>

   			<p class="lead">Voici mon parcours, comme vous pouvez le constater j'ai pu toucher à tous j'ai quand même une appetence particulière pour la gestion de projet, avoir été sur différents postes, de différents secteurs, cela me permets de connaitre les besoins, les problèmes que l'on va rencontrer sur un projet.</p>

   		</div>
   	</div> <!-- /section-intro-->

   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Experience / Education</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Formation dev</h3>
	   					<p>Avril 2022 - Juillet 2022</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Le Wagon Nantes</h4>
	   					<p>Une superbe experience pour confirmer mon choix de carriere, de belles rencontres, une formation qui permet d'obtenir l'examin de Concepteur développeur d'application web-niveau 6.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Formateur/chargé de clientèle</h3>
	   					<p>Novembre 2019 - Mars 2021</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Jvs Mairistem</h4>
	   					<p>Formateur et accompagnement de mairie, budget, compte rendu, résolution de problématique sur la gestion de mairie. J'ai pris en charge 65 mairies sur la gestion de chaques projets, avec des budgets allant de plusieurs millers à plusieurs millions.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Support informatique / Assistant Achats</h3>
	   					<p>Mai 2016 - Mars 2018</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Le Grand Port Maritime</h4>
	   					<p>Effectuer des 3 devis, suivi fournisseurs et clients, suivi logistique, suppervision d'inventaire, formation logiciel, aide et support messagerie etc ...j'ai obtenu le diplome de technicien Support informatique Bac +2</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

          <div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Gérant bar /responsable bar</h3>
	   					<p>2011 - 2015</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Gérant bar</h4>
	   					<p>J'ai eu un bar avec quatre employés. En saison j'ai été responsable de secteur pour un restaurant et un bar avec dix-sept employés.Dans un autre établissement sur la cote avec sept employés.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

        <div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Etudiant</h3>
	   					<p>2009 - 2011</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Jules Rieffel</h4>
	   					<p>BTS Technico-commercial spé. Agro-alimentaire.</p>
	   				</div>
   			</div> <!-- /timeline-wrap -->

        <div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Etudiant</h3>
	   					<p>2009 - 2011</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Eugene Livet</h4>
	   					<p>Bac Science et Technologie de l'industrie</p>
	   				</div>
   			</div> <!-- /timeline-wrap -->

   		</div> <!-- /col-twelve -->

   	</div> <!-- /resume-timeline -->

	</section> <!-- /features -->


	<!-- Portfolio Section
   ================================================== -->
	<section id="portfolio">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Portfolio</h5>
   			<h1>Découvrez quelques-uns de mes projets.</h1>

   			<p class="lead">Içi vous allez pouvoir voir les projets que j'ai pu faire, pour l'instant ils ne sont pas nombreux mais pourquoi pas rajouter des projets ensembles ?</p>

   		</div>
   	</div> <!-- /section-intro-->

   	<div class="row portfolio-content">

   		<div class="col-twelve">

   			<!-- portfolio-wrapper -->
	         <div id="folio-wrapper" class="block-1-2 block-mob-full stack">

	         	<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="https://imagizer.imageshack.com/img924/15/pWIuTX.png" alt="Liberty">
	                  <a href="https://ride-and-swell.herokuapp.com/" class="overlay">
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
		     					       <h3 class="folio-title">Ride and swell</h3>
		     					    	 <span class="folio-types">
		     					       	  site de location déquipements nautique
		     					       </span>
		     					   </div>
	                     </div>
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

	        		<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="https://imagizer.imageshack.com/img924/6132/G1G4MW.png" alt="Shutterbug">
	               	<a href="https://riding-pot.herokuapp.com/" class="overlay">
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Riding Pot</h3>
		     					    	<span class="folio-types">
		     					       	  Application mobile, trouver des gens pour une sortie vélo
		     					      </span>
		     					   </div>
	                     </div>
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->


	            <!-- modal popups - begin
	            ============================================================= -->
	            <div id="modal-01" class="popup-modal slider mfp-hide">

				     	<div class="media">
				     		<img src="https://imagizer.imageshack.com/img924/15/pWIuTX.png" alt="" />
				     	</div>

					   <div class="description-box">
					      <h4>Ride and swell</h4>
					      <p>Un site qui permet la location de materiels de sport nautique</p>

					      <div class="categories">Web Development</div>
					   </div>

			         <div class="link-box">
			            <a href="https://imageshack.com/i/popWIuTXp">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>

				   </div> <!-- /modal-01 -->

				   <div id="modal-02" class="popup-modal slider mfp-hide">

				     	<div class="media">
				     		<img src="images/portfolio/modals/m-shutterbug.jpg" alt="" />
				     	</div>

					   <div class="description-box">
					      <h4>Shutterbug</h4>
					      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

					      <div class="categories">Web Design</div>
					   </div>

			         <div class="link-box">
			            <a href="http://www.behance.net">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>

				   </div> <!-- /modal-02 -->

				   <div id="modal-03" class="popup-modal slider mfp-hide">

				     	<div class="media">
				     		<img src="images/portfolio/modals/m-clouds.jpg" alt="" />
				     	</div>

					   <div class="description-box">
					      <h4>Clouds</h4>
					      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

					      <div class="categories">Web Design</div>
					   </div>

			         <div class="link-box">
			            <a href="http://www.behance.net">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>




				   <!-- modal popups - end
	            ============================================================= -->

	         </div> <!-- /portfolio-wrapper -->

   		</div>  <!-- /twelve -->

   	</div> <!-- /portfolio-content -->

	</section> <!-- /portfolio -->






   <!-- contact
   ================================================== -->
	<section id="contact">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Contact</h5>
   			<h1>J’aimerais avoir de vos nouvelles.</h1>

   			<p class="lead">Vous pouvez me laisser un message si vous voulez, sinon vous avez mon email, ainsi que mes autres reseaux sociaux.</p>

   		</div>
   	</div> <!-- /section-intro -->

   	<div class="row contact-form">

   		<div class="col-twelve">

            <!-- form -->
            <form name="contactForm" id="contactForm" method="post" action="">
      			<fieldset>

                  <div class="form-field">
 						   <input name="contactName" type="text" id="contactName" placeholder="Name" value="" minlength="2" required="">
                  </div>
                  <div class="form-field">
	      			   <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required="">
	               </div>
                  <div class="form-field">
	     				   <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="">
	               </div>
                  <div class="form-field">
	                 	<textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10" cols="50" required=""></textarea>
	               </div>
                 <div class="form-field">
                     <button class="submitform">envoi</button>
                     <div id="submit-loader">
                        <div class="text-loader">Sending...</div>
       				      <div class="s-loader">
								  	<div class="bounce1"></div>
								  	<div class="bounce2"></div>
								  	<div class="bounce3"></div>
								</div>
							</div>
                  </div>

      			</fieldset>
      		</form> <!-- Form End -->

            <!-- contact-warning -->
            <div id="message-warning">
            </div>
            <!-- contact-success -->
      		<div id="message-success">
               <i class="fa fa-check"></i>Your message was sent, thank you!<br>
      		</div>

         </div> <!-- /col-twelve -->

   	</div> <!-- /contact-form -->
	</section> <!-- /contact -->

   <!-- Java Script
   ================================================== -->
   <script src="js/jquery-2.1.3.min.js"></script>
   <script src="js/plugins.js"></script>
   <script src="js/main.js"></script>

</body>

</html>
